<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coolmart</title>
</head>
<body>
    <main>
        <h1>Failed Payment</h1>
        <p>Sorry, the payment failed. Please try again.</p>
    </main>
</body>
</html>